[Unit]
Description=Keep Playing Checkers in the Background
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/ubuntu/machine_learning/checkers/checkers_a1.py smart
StandardInput=tty-force
User=ubuntu

[Install]
WantedBy=multi-user.target